{% extends 'todoapp/main.html' %}
{% block content %}

<div class="header-bar">
  <h1>Welcome To YourToDo!</h1>
</div>

<div class="card-body">
  <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" style="height: 375px; width: 610px;" alt="">
  <h2>Manage your daily tasks with YourToDo!<br>Join Now!</h2>
  <a class="button" href="register">Register</a>
  <a class="button" href="login">Login</a>
</div>

{% endblock content %}
